.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#4e75ff #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before , .loader:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #4e75ff #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}
:root {
  --font-family: "Montserrat", sans-serif;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
input {
  outline: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  margin: 0 auto;
}
.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  overflow: hidden;
}
.gallery-image {
  display: block;
  max-width: 100%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
  margin: 0 auto;
}
.form > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;

}
.form > input:hover {
  border: 1px solid #000;
}
.form > input:focus {
  border: 1px solid #000;
}
.form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
}
.form > button:hover {
  background: #6c8cff;
}
.info-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.info-box > p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-box > p > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.fetch-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
